@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  .waviy h1 {
    font-size: 2rem;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
  .back-to-top-btn-container {
    display: none;
  }
  footer p {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  article {
    font-size: 1rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
  .btn-color-1:hover {
    background: rgb(53, 53, 53);
    color: white;
    border: rgb(53, 53, 53) 0.1rem solid;
    cursor: default;
  }
  .btn-color-2:hover {
    background: none;
    color: rgb(53, 53, 53);
    border: rgb(53, 53, 53) 0.1rem solid;
    cursor: default;
  }
  .details-container:hover {
    border: rgb(163, 163, 163) 0.1rem solid;
    transform: none;
  }
  .contact-info-upper-container:hover {
    border: rgb(163, 163, 163) 0.1rem solid;
    transform: none;
  }
  .contact-info-container a {
    color: black;
    text-decoration: none;
  }
}
